@import './settings.scss';

.projets-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-self: center;
  padding: 2rem 10rem;
  gap: 2rem;
}
