// Colors //

$primaryColor: #ffb649;
$secondaryColor: #252422;
$thirdColor: #fffffa;

// Font && sizes //

$titleFont: 'Josefin Sans', sans-serif;

$small: 1rem;
$large: 3rem;
$x-large: 6rem;

// Layout //

$layout-bp-small: 576px;
$layout-bp-medium: 768px;
$layout-bp-large: 992px;
$layout-bp-xlarge: 1200px;
$layout-bp-xxlarge: 1400px;
